<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.orange.memoplayer"
      android:versionCode="1"
      android:versionName="1.0.0">
    <supports-screens android:anyDensity="true"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
        <!-- Main application -->
        <activity android:name="com.orange.memoplayer.MainActivity"
                  android:label="@string/app_name" 
                  android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  COMMENT ALL SECTION BELOW TO DISABLE ANDROID APP WIDGET -->

        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name="com.orange.memoplayer.Widget" 
                  android:label="@string/widget_name"
                  android:process=":widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget" />
        </receiver>
    
        <!-- Service to handle MeMo as a service for widget rendering -->
        <service android:name="com.orange.memoplayer.WidgetUpdate"
                 android:process=":widget" />

        <!--  COMMENT ALL SECTION ABOVE TO DISABLE ANDROID APP WIDGET -->

    </application>
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
</manifest> 